<div class="container">
  <div class="row">
    <div class="col-md-12 autocomplete">
      <i class="fa fa-search search" aria-hidden="true"></i>
      <input id="autocomplete-ajax" name="subscribeTo" type="text" placeholder="Type any characters name and choose from the dropdown...">
    </div>
  </div>
  <div class="row">
     <div class="col-md-10 feed">
	   <h1>Latest News</h1>
	   <ul id="newsItems">
	   </ul>
     </div>
	 <div class="col-md-2 subscribe">
	    <h1>Subscribed to:</h1>
		 <ul id="suscribeList" style="color:#DA2F09; font-weight:bold;">
		   <li>#welcome</li>
		   <li>#new</li>
		 </ul>
     </div>
  </div>
</div>